/* Estilos para el formulario */
.group {
    background-color: #e6d0f0; /* Lila más clarito */
    width: 300px;
    padding: 20px;
    margin: 0 auto; /* Centrado horizontal */
    border-radius: 10px; /* Contorno más redondeado */
    font-family: Arial, sans-serif; /* Tipo de letra Arial */
  }
  
  /* Estilos para el título */
  .group h2 {
    color: white;
    font-style: italic;
  }
  
  /* Estilos para las etiquetas */
  .group label {
    color: white;
    font-weight: bold;
  }
  
  /* Estilos para los campos de entrada */
  .group input[type="text"],
  .group input[type="email"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px; /* Contorno más redondeado */
  }
  
  /* Estilos para el botón de envío */
  .group input[type="submit"] {
    background-color: white;
    color: #c883e8; /* Lila más clarito */
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; /* Contorno más redondeado */
  }
  
  /* Estilos para los elementos opcionales (ejemplo) */
  .group span em {
    font-size: 12px;
    font-style: normal;
    color: white;
  }
  
 
  .group span em {
    font-size: 12px;
    font-style: normal;
    color: white;
  }
  